.principal1{
	width: 500px;
	height: 2105px;
}

.dentroprincipal1{
	margin: auto;
	width: 95%;
	height: 2105px;
}

.borda1{
	width: 510px;
	height: 2115px;
	margin-top: 20px;
}

.arredonda{
	border-radius: 10px;
}