*{
	font-family: system-ui;
	font-size: 17px;
}

body{
	background-color: #A6D758;
}

.form{
	width: 600px;
	float: left;

}

.opa{
	position: absolute;
	left: 130px;
}

.php{
	position: absolute;
	float: right;
	right: 200px;
	top: 800px;
	background-color: #74E1D0;
	width: 250px;
	border: 2px black solid;
	border-radius: 10px;

}